Провести дисперсионный анализ для определения того, есть ли различия среднего роста среди взрослых футболистов, хоккеистов и штангистов.
Даны значения роста в трех группах случайно выбранных спортсменов:

Футболисты: 173, 175, 180, 178, 177, 185, 183, 182.

Хоккеисты: 177, 179, 180, 188, 177, 172, 171, 184, 180.

Штангисты: 172, 173, 169, 177, 166, 180, 178, 177, 172, 166, 170.

In [11]:
import numpy as np
from scipy import stats
import pandas as pd
from statsmodels.stats.multicomp import pairwise_tukeyhsd

Уровень статистической значимости α принимаем равным 0,05.

In [12]:
fut = np.array([173, 175, 180, 178, 177, 185, 183, 182])
hok = np.array([177, 179, 180, 188, 177, 172, 171, 184, 180])
lif = np.array([172, 173, 169, 177, 166, 180, 178, 177, 172, 166, 170])
a = 0.05

In [13]:
# проверка даннных на "нормальность"
print(stats.shapiro(fut))
print(stats.shapiro(hok))
print(stats.shapiro(lif))

ShapiroResult(statistic=0.9775082468986511, pvalue=0.9495404362678528)
ShapiroResult(statistic=0.9579196572303772, pvalue=0.7763139009475708)
ShapiroResult(statistic=0.9386808276176453, pvalue=0.5051165223121643)

Данные всех трёх выборок распределены нормально, значит обосновано применение параметрических тестов.

In [14]:
#  проверяем равенство дисперсий
stats.bartlett(fut, hok, lif)

BartlettResult(statistic=0.4640521043406442, pvalue=0.7929254656083131)

Bartlett тест позволяет сделать выводы о равенстве дисперсий в выборках, что, в свою очередь, позволяет нам провести дисперсионный анализ.

In [15]:
# дисперсионный анализ
stats.f_oneway(fut, hok, lif)

F_onewayResult(statistic=5.500053450812596, pvalue=0.010482206918698694)

Изходя из полученных данных (pvalue=0.01 < α=0,05) делаем вывод что среди взрослых футболистов, хоккеистов и штангистов есть различия в среднем росте.

Для обнаружения различий между конкретными группами применим тест Тьюки

In [16]:
# создаём датафрейм из наших выборок
df = pd.DataFrame({"height":[173, 175, 180, 178, 177, 185, 183, 182, 177, 179, 180, 188, 177, 172, 171, 184, 180, 172, 173, 169, 177, 166, 180, 178, 177, 172, 166, 170],
                   "group":['fut'] * len(fut) + ['hok'] * len(hok) + ['lif'] * len(lif)})
df

    height group
0      173   fut
1      175   fut
2      180   fut
3      178   fut
4      177   fut
5      185   fut
6      183   fut
7      182   fut
8      177   hok
9      179   hok
10     180   hok
11     188   hok
12     177   hok
13     172   hok
14     171   hok
15     184   hok
16     180   hok
17     172   lif
18     173   lif
19     169   lif
20     177   lif
21     166   lif
22     180   lif
23     178   lif
24     177   lif
25     172   lif
26     166   lif
27     170   lif

In [17]:
# запускаем тест Тьюки
tukey = pairwise_tukeyhsd(df["height"], df["group"], alpha=0.05)
print(tukey)

 Multiple Comparison of Means - Tukey HSD, FWER=0.05
=====================================================
group1 group2 meandiff p-adj   lower    upper  reject
-----------------------------------------------------
   fut    hok  -0.4583  0.979  -6.2732  5.3566  False
   fut    lif  -6.3977 0.0219 -11.9583 -0.8372   True
   hok    lif  -5.9394 0.0284 -11.3181 -0.5607   True
-----------------------------------------------------

Исходя из результатов теста Тьюки делаем выводы, что статисически значимые отличия в росте наблюдаются только в группе штангистов.